@charset "UTF-8";


	
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;
		}
	
	.menuportfolio {
		color: #fff;
		background-color: rgba(243,74,77,1.00);
		border-right
		: 1px solid rgba(0, 0, 0, 0.35);
		border-left: 1px solid rgba(0, 0, 0, 0.35);
		}
		
		.menuportfolio:hover {
		background-color: #df393b;
		color: #fff; 
		}
	
	

/*NAVIGATION OVER*/

h1 {
	font-size: 5em;
	font-family: "Proxima Nova";
	color: rgb( 235, 235, 235 );
	font-weight: 100;
	text-shadow: 0px 1px rgb(255, 255, 255);
}

h3 {
	font-size: 1.3em;
	font-family: "Proxima Nova";
	font-weight: bold;
	text-shadow: 0px 1px rgb(255, 255, 255);
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-transform: uppercase;
	color: #F2494B;
}


p {
	font-size: 16px;
	font-family: "Proxima Nova";
	color: #929496;
	font-weight: regular;
	text-shadow: 0px 1px rgb(255, 255, 255);
	margin-left: 75px;
	line-height: 24px;
}

/*MAIN IMAGE*/

.mainfeature {
	background-image: url(../images/d-bg-feature.jpg);
	background-attachment: fixed;
	height: 390px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: right top;
}

/*MESSAGE*/

.bigmessage {
	display: inline-block;
	margin-bottom: -40px;
	width: 384px;
	line-height: 69px;
	margin-right: 5%;
	background-attachment: scroll;
	margin-top: 120px;
}

.smallmessage {
	font-size: 18px;
	font-family: "Proxima Nova";
	color: #ebebeb;
	font-weight: 500;
	text-shadow: 0px 0px;
	width: 214px;
	line-height: 1.3em;
	margin-left: 4px;
	opacity: 1;
}

.messagewrapper {
max-width: 1200px;
width: 90%;
margin: auto;
}

/*IMAGE*/

/*.desktopimg {
	background-image: url(../images/d-featureimg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	width: 150px;
	display: inline;
	float: right;
	margin-top: 130px;
	margin-right: 5%;
	margin-left: 5%;
	background-position: center center;
}*/

/*LOWERSECTION*/

.lowersection {
	padding-top: 70px;
	border-top: 1px solid #FFFFFF;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: auto;
	margin-right: auto;
}

/*PORTFOLIO GALLERY*/

.infowrapper {
	padding-bottom: 35px;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	text-align: center;
}

.infoblock {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.cardsmargin {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.cardswrapper{
	margin: auto;
	display: block;
	max-width: 1200px;
}

.imggallery {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 1200px;
	list-style-type: none;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 2px 0px hsla(0,0%,0%,0.20);
	box-shadow: 0px 2px 2px 0px hsla(0,0%,0%,0.20);
}

.imggallery:hover {
	box-shadow: 0 2px 15px 2px hsla(0,0%,0%,0.20);
	border-bottom: 0 none;
	-webkit-box-shadow: 0 2px 15px 2px hsla(0,0%,0%,0.20);
}

a {
	text-decoration:none;
}
