@charset "UTF-8";

/* Layout Small Screens */

body {
	margin: auto;
	background-color:#1B1B1B
}

.navbar {
	position: fixed;
	background-color: #333845;
	width: 100%;
	height: 60px;
	top: 0px;
	font-family: "Proxima Nova";
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.40);
	border-bottom: 1px solid #000000;
}

.homelogo {
	background-image: url(../images/d-nav-logo.png);
	position: relative;
	background-repeat: no-repeat;
	height: 60px;
	width: 40%;
	display: table;
	float: left;
	min-height: 60px;
	background-size: cover;
	background-position: right center;
	max-width: 230px;
}


.menuportfolio {
	background-image: url(../images/d-nav-portfolio.png);
	background-repeat: no-repeat;
	color: rgba(243,74,77,1.00);
	background-position: center top;
	padding-top: 37px;
	margin-top: 6px;
	width: 19%;
	float: right;
	background-size: 30px 30px;
	font-size: 80%;	
}

.menuprofile {
	background-image: url(../images/d-nav-profile.png);
	background-repeat: no-repeat;
	float: right;
	color: #4DBEF1;
	background-position: center top;
	padding-top: 37px;
	margin-top: 6px;
	width: 19%;
	float: right;
	background-size: 30px 30px;
		font-size: 80%;

}

.menucontact {
	background-image: url(../images/d-nav-email.png);
	background-repeat: no-repeat;
	color: #4FD9C0;
	background-position: center top;
	padding-top: 37px;
	margin-top: 6px;
	width: 19%;
	float: right;
	background-size: 30px 30px;
		font-size: 80%;

}

/*TEXT*/

h1 {
	font-size: 4.4em;
	font-family: "Proxima Nova";
	color: rgb( 235, 235, 235 );
	font-weight: bold;
	text-shadow: 0px 1px rgb(255, 255, 255);
}

h3 {
	font-size: 25px;
	font-family: "Proxima Nova";
	font-weight: bold;
	text-shadow: 0px 1px rgb(255, 255, 255);
	margin-left: 26%;
	margin-bottom: -10px;
	color: #FFFFFF;
}

p {
	font-size: 14px;
	font-family: "Proxima Nova";
	color: hsla(0,0%,100%,0.50);
	font-weight: regular;
	text-shadow: 0px 1px hsla(0,0%,100%,0.30);
	margin-left: 26%;
	line-height: 24px;
}


/*MAIN IMAGE*/
.mainfeature {
	background-image: url(../images/d-bg-feature.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	height: 850px;
	margin-top: 60px;
}


/*MESSAGE*/

.bigmessage {
	display: inline-block;
	margin-bottom: -50px;
	text-align: center;
	margin-top: auto;
	width: 100%;
}

.smallmessage {
	font-size: 18px;
	font-family: "Proxima Nova";
	color: #ebebeb;
	font-weight: 500;
	text-shadow: 0px 1px hsla(0,0%,0%,0.40);
	width: 200px;
	line-height: 1.3em;
	text-align: center;
	padding-top: 8px;
	margin-left: auto;
	margin-right: auto;
}

.messagewrapper {
	text-align: center;
	padding-left: 0%;
	float: none;
	margin-top: 0px;
	width: 100%;
}

/*IMG FEATURE*/

.desktopimg {
	background-image: url(../images/d-featureimg.png);
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-position: center top;
	clear: both;
	padding-top: 231px;
	background-size: contain;
	max-width: 322px;
}

/*CONTACT BOX*/

.contactlinkbox {
	width: 95%;
	height: auto;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.emaillink {
	background-image: url(../images/d-emaillink.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-origin: content-box;
	padding-left: 5%;
	background-color: hsla(0,0%,0%,0.15);
	border-radius: 2px;
	width: 90%;
	border: 1px solid hsla(0,0%,0%,0.20);
	margin-bottom: 30px;
	padding-right: 5%;
	margin-right: auto;
	margin-left: auto;
	max-width: 340px;
}

.linkedinlink{
	background-image: url(../images/d-linkedinlink.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-origin: content-box;
	padding-left: 5%;
	background-color: hsla(0,0%,0%,0.15);
	border-radius: 2px;
	width: 90%;
	border: 1px solid hsla(0,0%,0%,0.20);
	margin-bottom: 30px;
	padding-right: 5%;
	margin-right: auto;
	margin-left: auto;
	max-width: 340px;
}

.twitterlink {
	background-image: url(../images/d-twitterlink.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-origin: content-box;
	padding-left: 5%;
	background-color: hsla(0,0%,0%,0.15);
	border-radius: 2px;
	width: 90%;
	border: 1px solid hsla(0,0%,0%,0.20);
	margin-bottom: 30px;
	padding-right: 5%;
	margin-right: auto;
	margin-left: auto;
	max-width: 340px;
}

.pinterestlink {
	background-image: url(../images/d-pinterestlink.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-origin: content-box;
	padding-left: 5%;
	background-color: hsla(0,0%,0%,0.15);
	border-radius: 2px;
	width: 90%;
	border: 1px solid hsla(0,0%,0%,0.20);
	padding-right: 5%;
	margin-right: auto;
	margin-left: auto;
	max-width: 340px;
}


a {
	text-decoration:none;
}


/*FOOTER*/

footer {
	color: #b6b6b6;
	font-family: "Proxima Nova", 'Helvetica', 'Arial', 'sans-serif';
	color: rgba(255,255,255,0.35);
	font-size: 18px;
	background-image: url(../images/bg-footer.png);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 1auto;
	font-size: 14px;
	height: auto;
	bottom: 0px;
	position: relative;
	background-repeat: repeat;
}
