<li class="side-header">Links</li>
<li><a href="/">Gui & GUIs </a></li>
<li><a href="www.guilhermeschmitt.com">Portfolio</a></li>
<li><a href="/rss">RSS</a></li>


<li class="side-header">Follow Me</li>
<li><a href="mailto:guischmitt@gmail.com" target="_blank">Email</a></li>
<li><a href="http://www.twitter.com/guischmitt" target="_blank">Twitter</a></li>
<li><a href="http://dribbble.com/guischmitt" target="_blank">Dribbble</a></li>
<li><a href="http://instagram.com/guischmitt" target="_blank">Instagram</a></li>